<!doctype html>
<html lang="en" ng-app="articleBrowser">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>My HTML File</title>
      <link rel="stylesheet" href="css/app.css">
      <!-- Bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

    </head>




<body class="starter-template">
<h1>Bootstrap starter template</h1>
  <p>Nothing here {{'yet' + '!'}}</p>
  <p>1 + 2 = {{1 + 2}}</p>

<article ng-controller="SecondCtrl">
{{"senuTi"|reverse}}
{{reverse}}


<br>
	{{reversedMessage(data.message)}}
Dogs eat {{turnip}}
</article>

    <div ng-controller="SpringHello">
        <p>This makes an API request to our springserver</p>

	    <p>The content is {{greeting.content}}</p>

		<p>dyslexic dogs like to eat {{text}}</p>openi

</div>


   <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" >
$(document).ready(function(){
  sendAjax();
});

function sendAjax() {
/*
$.ajax({
    url: "http://localhost:8080/spring-webapp/createSpitterFromJSON",
    type: 'POST',
    dataType: 'json',
    data: "{\"username\":\"Dismantled\",\"password\":\"angularpwd\",\"fullName\":\"Angular Test\"}",
    contentType: 'application/json',
    mimeType: 'application/json',
    success: function(data) {
        console.log(data.username + " " + data.fullName);
    },
    error:function(data,status,er) {
        alert("error: "+data+" status: "+status+" er:"+er);
    }
});*/






}
</script>


<form ng-controller="UserController" ng-submit="createUser()">

    <legend>Create User</legend>

    <label>Name</label>
    <input type="text" id="username" name="username" ng-model="user.username" placeholder="Username" required>

    <label>Full Name</label>
    <input type="text" id="fullName" name="fullName" ng-model="user.fullName" placeholder="Full Name" required>

    <label>Password</label>
    <input type="password" id="password" name="password" ng-model="user.password" placeholder="Password" required>
    <a href="http://docs.angularjs.org/guide/forms">Click here for info</a>
    <button class="btn btn-primary" ng-click="sendUser(user)">Register</button>
    <div> form = {{user | json}}
</form>


</body>


  <script src="lib/angular/angular.js"></script>
  <script src="lib/myJavaScript/articleBrowser.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="lib/myJavaScript/articleBrowser.js"></script>

</html>


